*{
				margin:0px;
				padding: 0px;
			}
			#total{
				width:800px;
				margin:10px auto;
				overflow: hidden;
			}
			#inner{
				display: inline-block;
				padding:10px;
				border:1px solid black;
				margin-top: 10px;
				width:400px;
			}
			#city li{
				display: inline-block;
				text-decoration: none;
				background-color: greenyellow;
				border:1px solid black;
				padding: 2px;
				margin:20px 3px;
			}
			#btnList{
				display: inline-block;
				float: right;
				text-align: center;
			}
			button{
				width:300px;
				margin-top:10px;
				height: 30px;
			}