*{
	margin:0px;
	
}
.inner{
	width:600px;
	border:1px solid;/*外边框*/
	margin:20px auto;/*设置为居中*/
}
.inner1{
	width:600px;
	border:1px solid;/*外边框*/
	margin:20px auto;/*设置为居中*/
	padding:10px 0px;/*设置内边距*/
	padding-left:5px;
}
#city,#game{
	list-style:none;
	width:208px;
	overflow:hidden;/*解决高度塌陷*/
	
	
}
#city li,#game li{
	float:left;
	width:40px;/*设置宽度*/
	background-color:#0C0;/*设置背景颜色px*/
	margin-right:10px;/*设置右外边距为10px*/
	border:1px solid;/*加一个外边框*/
	text-align:center;/*字体居中*/

	
}
#phone{
	width:318px;
	list-style:none;
	overflow:hidden;/*解决高度塌陷*/
}
#phone li{
	width:60px;
	float:left;/*向左浮动*/
	background-color:#0C0;/*设置背景颜色px*/
	margin-right:10px;/*设置右外边距为10px*/
	border:1px solid;/*加一个外边框*/
	text-align:center;/*字体居中*/
}
#phone .li3{
	width:160px;
	margin-bottom:10px;
}
p{
	text-indent:2em;
	margin:10px 0px;
	
}
#btnlist
{
	width：300px;
    float:left;
	margin:5px 10px;
}
#total{
	float:left;
	margin-left:200px;
}
button{
	width:300px;
	margin-top:15px;
}