@font-face {
    font-family: 'emblema_oneregular';
    src: url('fonts/emblemaone-regular-webfont.eot');
    src: url('fonts/emblemaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/emblemaone-regular-webfont.woff2') format('woff2'),
         url('fonts/emblemaone-regular-webfont.woff') format('woff'),
         url('fonts/emblemaone-regular-webfont.ttf') format('truetype'),
         url('fonts/emblemaone-regular-webfont.svg#emblema_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	font-size:large;
}
h1{
	font-family: 'emblema_oneregular';
	font-size:220%;
}
h2{
	font-size:150%;
	font-weight:normal;
}
blockquote{
	font-style:italic;
}
h1,h2{
	color:#cc6600;
	/*border-bottom:thin dotted #888888;*/
	
	text-decoration:underline;
}

table{
	border:1px solid black;
	caption-side:bottom;
	border-collapse:collapse;
}

th,td{
	border:thin dotted gray;
	padding:5px;
}
caption{
	padding-top:8px;
	font-style:italic;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
table th{
	background-color:#cc6600;
}
.cellcolor{
	background-color:#fcba7a;
}

table tr td table th{
	background-color:white;
}

li {
  list-style-image: url(images/backpack.gif); 
  padding-top:      5px;
  margin-left:      10px;
}
	